<h3>Личный кабинет</h3>
<div class="user-info-account">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Имя пользователя</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{user.username}}</p>
    </div>
    {{#if user.local.email}}
      <label class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{user.local.email}}</p>
      </div>
    {{/if}}
    <label class="col-sm-2 col-form-label">Дата регистрации</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{formatDate user.createdAt}}</p>
    </div>
  </div>
</div>

{{#ifor user.google.id user.vkontakte.id}}
  <h4>Привязанные аккаунты:</h4>
{{/ifor}}

{{#if user.google.id}}
  <div class="user-info-connect">
    <h5>Google</h5>
    <div class="form-group row ml-1">
      <label class="col-sm-2 col-form-label">Имя</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{user.google.name}}</p>
      </div>
      <label class="col-sm-2 col-form-label">Почта</label>
      <div class="col-sm-10">
        <p class="form-control-static">
          {{#each user.google.emails}}
            {{value}}
          {{/each}}
        </p>
      </div>
    </div>
  </div>
{{/if}}
{{#if user.vkontakte.id}}
  <div class="user-info-connect">
    <h5>Вконтакте</h5>
    <div class="form-group row ml-1">
      <label class="col-sm-2 col-form-label">Имя</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{user.vkontakte.name}}</p>
      </div>
      <label class="col-sm-2 col-form-label">Почта</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{user.vkontakte.email}}</p>
      </div>
      <label class="col-sm-2 col-form-label">Страница</label>
      <div class="col-sm-10">
        <p class="form-control-static"><a href="{{user.vkontakte.profileUrl}}">{{user.vkontakte.profileUrl}}</a></p>
      </div>
    </div>
  </div>
{{/if}}

{{#unless user.vkontakte.id}}
  <a class="btn btn-outline-primary mt-1" href="/auth/vkontakte" role="button">Привязать аккаунт Вконтакте</a>
{{/unless}}
{{#unless user.google.id}}
  <a class="btn btn-outline-primary mt-1" href="/auth/google" role="button">Привязать аккаунт Google</a>
{{/unless}}