<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="author" content="bondarevk">
  <meta name="theme-color" content="#457dd7">
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>

  <script src="/javascripts/libs/jquery-3.2.1.js"></script>
  <script src="/javascripts/libs/tether.js"></script>
  <script src="/javascripts/libs/bootstrap.js"></script>
  <script src="/javascripts/global.js"></script>
  <link rel='stylesheet' href='/stylesheets/libs/tether.css'/>
  <link rel='stylesheet' href='/stylesheets/libs/bootstrap.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<nav class="navbar navbar-light bg-faded navbar-toggleable-md">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">bondarevk</a>

    <div class="collapse navbar-collapse" id="containerNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Чат</a>
        </li>
      </ul>

      {{#if user}}
        <div class="btn-group">
          <button type="button" class="btn btn-secondary btn-sm">{{user.username}}</button>
          <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/account">Личный кабинет</a>
            <a class="dropdown-item" href="/user/{{user.username}}">Профиль</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Выход</a>
          </div>
        </div>
      {{else}}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/signin">Вход</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Регистрация</a>
          </li>
        </ul>
      {{/if}}

    </div>
  </div>
</nav>
<div class="container app-body">
  {{{body}}}
</div>
</body>
</html>
